In [25]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.insert(1, 'Paul')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Paul', 'Robert', 'Lisa', 'Mary']

In [28]:
tuple3 = (9,)
tuple4 = 10,
print(tuple3)
print(tuple4)

(9,)
(10,)

In [30]:
tuple7 = ('a', 'a', 'a', 'b', 'b', 'c', 'd')
print(tuple7.count('a'))

3

In [32]:
set1 = {1, 2, 3}
set1a = {1, 2, 3, 3}
print(set)
print(set1a)

<class 'set'>
{1, 2, 3}

In [44]:
country_capital = {"영국" : "런던", "프랑스" : "파리", "스위스" : "베른", "호주" : "멜버른", "덴마크" : "코펜하겐"}
country_capital["호주"] = "캔버라"
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐'}

In [46]:
first = ["egg", "salad", "bread", "soup", "canafe"]
second = ["fish", "lamb", "pork", "beef", "chicken"]
third = ["apple", "banana", "orange", "grape", "manago"]

order = [first, second, third]
john = [order[0][:-2], second[1::3], third[0]]
del john[2]
john.extend([order[2][0:1]])
print(john)

[['egg', 'salad', 'bread'], ['lamb', 'chicken'], ['apple']]