In [7]:
a = int(input("한 개의 숫자를 입력하세요."))
print(a + 10)

한 개의 숫자를 입력하세요. 5

15

In [13]:
def test(t):
    t = 20
    print("In Funtion:", t)

x = 10
print("Before:", x)
test(x)
print("After:", x)

Before: 10
In Funtion: 20
After: 10

In [19]:
def rain(colors):
    colors.append("purple")
    colors = ["green", "blue"]
    return colors

rainbow = ["red", "orange"]
print(rain(rainbow))

['green', 'blue']

In [22]:
def f(x, y):
    return x **y

f(2, 3)

8

In [33]:
twice = lambda x, y: x **y
twice(2, 3)

8

In [50]:
a = [1, 2, 3, 4, 5]
list(map(lambda x: x **2, a))

[1, 4, 9, 16, 25]

In [52]:
# 주어진 변수들
num_str = "987"
num_int = 123
num_float = 45.67
bool_str_true = "True"
bool_str_false = "False"
bool_int_true = 1
bool_int_false = 0

# 형변환 후 출력
result1 = int(num_str) + num_int
result2 = float(num_int) + num_float
result3 = bool(bool_str_true) and bool(bool_int_true)
result4 = bool(bool_str_false) or bool(bool_int_false)

print(result1) # 987 + 123 = 1110
print(result2) # 123.0 + 45.67 = 168.67
print(result3) # True and 1 = True
print(result4) # False or 0 = True

1110
168.67000000000002
True
True